@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #172A3A;
  --highlight-mint: #09BC8A;
  --highlight-fuchsia: #BD4089;
  --secondary-dark: #551B14;
  --secondary-light: #6D3D14;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter', system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}